/* This file is for your main application css. */

@import "./phoenix.css";
.help-block {
    color: red;
    text-transform: capitalize;
    position: absolute;
    top: 70px;
    font-size: 0.8em;
}

.form-group {
    position: relative;
    margin-bottom: 25px;
}

.btn-save {
    position: relative;
    margin-top: 20px;
}

.alert_error {
    position: relative;
    margin-bottom: 50px;
}

.collection-item {
    font-size: 0.8em;
}

.topic-body {
    font-size: 0.8em;
    margin-top: 25px;
    margin-bottom: 15px;
}

.secondary-content {
    font-size: 20px;
}